version: '3.8'
services:
  server_rec_db:
    image: "postgres:11"
    container_name: "${SERVER_REC_DB_NAME_CONTAINER}"
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${SERVER_REC_DB_NAME_CONTAINER}
    volumes:
      - ${SERVER_REC_DB_VOLUME}
    ports:
      - "${SERVER_REC_PORT_DOCKER}:${SERVER_REC_PORT_EXT}"

  server_consumer:
    build: .
    container_name: "${CONSUMER_NAME_CONTAINER}"
    depends_on:
      - ${SERVER_REC_DB_SERVICE_NAME}
    restart: always
    command: ["./wait-for-it.sh", "${DB_SERVICE_NAME}:${DB_PORT_EXT}", "--", "python3", "-u", "./pika_consumer.py"]
    environment:
      - DB_SERVICE_NAME=${REC_DB_SERVICE_NAME}
      - DB_CONTAINER_NAME=${DB_CONTAINER_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - RABBIT_HOST=${RABBIT_HOST}
      - RABBIT_USER=${RABBIT_USER}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - RABBIT_PORT=${RABBIT_PORT}

  adminer:
    image: adminer
    restart: always
    environment:
      - ADMINER_DEFAULT_SERVER=${DB_SERVICE_NAME}:${DB_PORT_EXT}
      - ADMINER_DEFAULT_USER=${POSTGRES_USER}
      - ADMINER_DEFAULT_PASSWORD=${POSTGRES_PASSWORD}
    ports:
    - "${ADMINER_WEB_PORT_DOCKER}:${ADMINER_WEB_PORT_EXT}"
    command:
      - 'php'
      - '-S'
      - '[::]:${ADMINER_WEB_PORT}'
      - '-t'
      - '/var/www/html'
    entrypoint:
      - 'entrypoint.sh'
      - 'docker-php-entrypoint'

volumes:
  server_rec_db-volume:
    driver: local

networks:
  default:
    external: true
    name: ${NETWORK_NAME}
